<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maroun Baydoun">
    <title><%= htmlWebpackPlugin.options.title %> | Maroun Baydoun</title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>">
    <link rel="canonical" href="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>" />
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>" />
    <meta property="og:image" content="https://dev.maroun-baydoun.com/<%= htmlWebpackPlugin.options.subPath %>image.png" />
    <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.heading1%>. <%= htmlWebpackPlugin.options.heading2%>" />
    <meta property="og:locale" content="en">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@maroun_baydoun">
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description%>">
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
</head>

<body>
    <header class="header">
        <h1><%= htmlWebpackPlugin.options.heading1 %></h1>
        <h2><%= htmlWebpackPlugin.options.heading2 %></h2>
        <nav>
            <%if (htmlWebpackPlugin.options.githubLink) { %>
                <a href="<%= htmlWebpackPlugin.options.githubLink %>" rel="external"
                    title="View the source code on Github">Github</a>
            <% } %>
            <%if (htmlWebpackPlugin.options.npmLink) { %>
                <a href="<%= htmlWebpackPlugin.options.npmLink %>" rel="external"
                    title="Get the package on npm">NPM</a>
            <% } %>
        </nav>
    </header>
    <main class="content">
        <h3 id="install">Install</h3>
        <pre class="syntax-highlight-container"><code class="language-shell">npm i mediaq</code></pre>
        Or
        <pre class="syntax-highlight-container"><code class="language-shell">yarn add mediaq</code></pre>
        <hr class="hr--large"/>
        <h3 id="use">Use</h3>
        <pre class="syntax-highlight-container"><code class="language-js">import { Mediaq } from "mediaq";

const mediaq = Mediaq({
    onUpdate: (e) => console.log(e.name, e.media, e.matches),
    mediaQueries: [{
            name: "mobile",
            media: "only screen and (max-width: 600px)"
        }, 
        {
            name: "desktop",
            media: "only screen and (min-width: 600px)"
        },
    ]
});

mediaq.start();

// When done listening 
mediaq.stop();</code></pre>
        <hr class="hr--large"/>
        <h3 id="api">API</h3>
        <p>
            The <span class="monospace">Mediaq</span> function expects a single object argument with <span class="monospace">onUpdate</span> and <span class="monospace">mediaQueries</span> keys.
        </p>
        <ul class="ul ul--margin-left ul--margin-top ul--square">
            <li>
                <span class="monospace">onUpdate</span> takes one argument having the <span class="monospace">media</span>, <span class="monospace">name</span> and <span class="monospace">matches</span> properties.
            </li>
            <li>
                <span class="monospace">mediaQueries</span> is an array of objects having the <span class="monospace">name</span> and <span class="monospace">media</span> keys.
            </li>
        </ul>
        <hr class="hr"/>
        <p>
            It returns an object having the <span class="monospace">start</span> and <span class="monospace">stop</span> methods.
        </p>
        <ul class="ul ul--margin-left ul--margin-top ul--square">
            <li>
                <span class="monospace">start</span> calls <span class="monospace">onUpdate</span> with the current state of media query matches and listens for future updates. Calling this method repeatedly has no effect.
            </li>
            <li>
                <span class="monospace">stop</span> ceases listening for media query updates. Calling this method repeatedly has no effect.
            </li>
        </ul>
        <hr class="hr--large"/>
        <h3 id="demo">Demo</h3>
        <div class="demo"></div>
        <hr class="hr--large"/>
        <h3 id="how-it-works">How does it work?</h3>
        <p>
            The browser exposes the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia" rel="external noopener noreferrer" target="_blank">window.matchMedia</a> method. It takes a media query as an argument and returns a <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaQueryList" rel="external noopener noreferrer" target="_blank">MediaQueryList</a> object. This object has the <span class="monospace">matches</span> boolean property. It also has an event listener that triggers when the media query's match status changes. Here's a list of <a href="https://caniuse.com/matchmedia" rel="external noopener noreferrer" target="_blank">compatible browsers</a>.
        </p>

        <%if (htmlWebpackPlugin.options.linkHome) { %>
            <hr class="hr--large"/>
            <div class="link-home">
                See <a href="https://dev.maroun-baydoun.com" rel="home">other projects</a>
            </div>
        <% } %>
    </main>
    <footer class="footer">
        <div class="footer__links">
            <a href="https://twitter.com/maroun_baydoun" rel="external noopener noreferrer" target="_blank">Twitter</a>
            <a href="https://github.com/maroun-baydoun" rel="external noopener noreferrer" target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/marounbaydoun" rel="external noopener noreferrer" target="_blank">Linkedin</a>
        </div>
        <div class="footer__credits">
            &copy;<a href="https://maroun-baydoun.com" rel="author">Maroun Baydoun</a>
        </div>
    </footer>
    <%if (process.env.NODE_ENV==="production" ) { %>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62589493-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-62589493-1', { 'anonymize_ip': true });
        </script>
    <% } %>
</body>

</html>